.staffManagement-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
}

.staffManagement-section-divider {
	width: 50px;
}

.staffManagement-section {
	flex: 1;

	display: flex;
	flex-direction: column;
}

.staffManagement-section-title {
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.staffManagement-section-title-add-button-icon {
	margin: 0px 5px 0px 0px;
}

.staffManagement-section-title-add-button {
	padding: 5px 10px;
	font-size: 18px;
	cursor: pointer;
}

.staffManagement-section-title-add-button:hover {
	/* border: 1px solid rgba(0, 0, 0, 0.4); */
	text-shadow: 0 2px 8px #c0c0c0;
	color: rgba(0, 0, 0, 0.45);
}

.staffManagement-section-title-adding-staff {
	display: flex;
	flex-direction: row;
}

.staffManagement-section-title-adding-staff > * {
	margin: 0 5px;
}

.staffManagement-section-search-field {
	margin-bottom: 15px;
}

.staffManagement-section-content {
	overflow: hidden;
}

.staffManagement-section-content:hover {
	overflow-y: scroll;
}
